<div class="container py-4">
    <!-- Tabs para Detalhes e Criar Novos -->
    <ul class="nav nav-tabs" id="professoresTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="detalhes-tab" data-bs-toggle="tab" data-bs-target="#detalhes" type="button" role="tab" aria-controls="detalhes" aria-selected="true">
                Detalhes
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="criar-novos-tab" data-bs-toggle="tab" data-bs-target="#criar-novos" type="button" role="tab" aria-controls="criar-novos" aria-selected="false">
                Criar novos
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="cursos-tab" data-bs-toggle="tab" data-bs-target="#cursos" type="button" role="tab" aria-controls="cursos" aria-selected="false">
                Cursos
            </button>
        </li>
    </ul>

    <div class="tab-content mt-4" id="professoresTabContent">
        <!-- Tab Detalhes -->
        <div class="tab-pane fade show active" id="detalhes" role="tabpanel" aria-labelledby="detalhes-tab">
            <div class="card shadow">
                <div class="card-header bg-light">
                    <h2 class="h5 mb-0">Lista dos Professores</h2>
                </div>
                <div class="card-body">
                    <p>Consulte abaixo a lista de professores por curso, edite ou remova informações, e realize a pesquisa.</p>

                     <!-- Nome do Professor -->
                    <div class="mb-3">
                        <label for="nome-professor" class="form-label">Nome</label>
                        <input type="text" id="nome-professor" class="form-control" placeholder="Digite o nome do professor">
                    </div>

                                            
                    <!-- Filtros de Pesquisa -->

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <label for="pesquisa-curso" class="form-label">Pesquisar por Curso</label>
                            <select id="pesquisa-curso" class="form-select">
                                <option value="" selected>Todos os Cursos</option>
                                <option value="Engenharia Informática">Engenharia Informática</option>
                                <option value="Gestão">Gestão</option>
                                <option value="Economia">Economia</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="container py-4">

                        <!-- Lista de Professores por Curso -->
                        <div id="professores-por-curso">
                            <!-- Curso: Engenharia Informática -->
                        <h3 class="h6 mb-3">Curso: Engenharia Informática</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Primeiro Nome</th>
                                            <th>Último Nome</th>
                                            <th>Email</th>
                                            <!-- <th>Unidade Curricular</th>  -->
                                            <th>Telefone</th>
                                            <th>Localidade</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if professores %}
                                            {% for professor in professores %}
                                            <tr>
                                                <td>{{ professor.1 }}</td>
                                                <td>{{ professor.2 }}</td>                                           
                                                <td>{{ professor.3 }}</td>
                                                <!-- <td></td> -->
                                                <td>{{ professor.4 }}</td>
                                                <td>{{ professor.5 }}</td>
                                                <td>{{ professor.6 }}</td> 
                                            
                                                <td>
                                                    <div class="d-flex align-items-center gap-2">
                                                        <!-- Botão Editar -->
                                                        <button type="button" class="btn btn-sm btn-secondary"
                                                        data-bs-toggle="modal" data-bs-target="#editarModal-{{ professor.0 }}">
                                                        Editar
                                                        </button>

                                                        <!-- Modal para Editar Professor -->
                                                        <div class="modal fade" id="editarModal-{{ professor.0 }}" tabindex="-1" aria-labelledby="editarModalLabel-{{ professor.0 }}" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editarModalLabel-{{ professor.0 }}">Editar Professor</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form method="POST" action="{% url 'professor_editar' professor.0 %}">
                                                                            {% csrf_token %}
                                                                            <div class="mb-3">
                                                                                <label for="p-nome-{{ professor.0 }}" class="form-label">Primeiro Nome</label>
                                                                                <input type="text" name="p_nome" id="p-nome-{{ professor.0 }}" 
                                                                                        class="form-control" value="{{ professor.1 }}" required>
                                                                            </div>

                                                                            <div class="mb-3">
                                                                                <label for="u-nome-{{ professor.0 }}" class="form-label">Último Nome</label>
                                                                                <input type="text" name="u_nome" id="u-nome-{{ professor.0 }}" 
                                                                                        class="form-control" value="{{ professor.2 }}" required>
                                                                            </div>

                                                                            <div class="mb-3">
                                                                                <label for="email-{{ professor.0 }}" class="form-label">Email</label>
                                                                                <input type="email" name="email" id="email-{{ professor.0 }}" 
                                                                                        class="form-control" value="{{ professor.3 }}" required>
                                                                            </div>

                                                                            <div class="mb-3">
                                                                                <label for="telefone-{{ professor.0 }}" class="form-label">Telefone</label>
                                                                                <input type="text" name="telefone" id="telefone-{{ professor.0 }}" 
                                                                                        class="form-control" value="{{ professor.4 }}">
                                                                            </div>

                                                                            <div class="mb-3">
                                                                                <label for="localidade-{{ professor.0 }}" class="form-label">Localidade</label>
                                                                                <input type="text" name="localidade" id="localidade-{{ professor.0 }}" 
                                                                                        class="form-control" value="{{ professor.5 }}">
                                                                            </div>

                                                                            <div class="d-flex justify-content-end gap-2">
                                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <!-- Botão Remover -->
                                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#removerModal-{{ professor.0 }}">
                                                            Remover
                                                        </button>

                                                        <!-- Modal para Confirmar Remoção -->
                                                        <div class="modal fade" id="removerModal-{{ professor.0 }}" tabindex="-1" aria-labelledby="removerModalLabel-{{ professor.0 }}" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="removerModalLabel-{{ professor.0 }}">Confirmar Remoção</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>Tem certeza que deseja remover o professor <strong>{{ professor.1 }} {{ professor.2 }}</strong>?</p>
                                                                    </div>
                                                                    <div class="modal-footer d-flex justify-content-end gap-2">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                                        <form method="POST" action="{% url 'professor_delete' professor.0 %}">
                                                                            {% csrf_token %}
                                                                            <button type="submit" class="btn btn-danger">Remover</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan="7" class="text-center">Nenhum aluno encontrado.</td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tab Criar Novos -->
        <div class="tab-pane fade" id="criar-novos" role="tabpanel" aria-labelledby="criar-novos-tab">
            <div class="card shadow">
                <div class="card-header bg-light">
                    <h2 class="h5 mb-0">Criar novos Professores</h2>
                </div>
                <div class="card-body">
                    <p>Preencha o formulário abaixo para adicionar novos professores, associando-os a cursos e Unidades Curriculares específicas.</p>
                    <form method="POST" action="{% url 'professores_funcionario' %}">
                        {% csrf_token %}

                        <!-- Nome do Professor -->
                        <div class="mb-3">
                            <label for="p-nome-professor" class="form-label">Primeiro Nome</label>
                            <input type="text" id="p-nome-professor" name="p_nome" class="form-control" placeholder="Digite o primeiro nome" required>
                        </div>
                                            
                        <div class="mb-3">
                            <label for="u-nome-professor" class="form-label">Último Nome</label>
                            <input type="text" id="u-nome-professor" name="u_nome" class="form-control" placeholder="Digite o último nome">
                        </div>

                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email-professor" class="form-label">Email</label>
                            <input type="email" id="email-professor" name="email" class="form-control" placeholder="Digite o email do professor">
                        </div>
                        
                        <!-- Password -->
                        <div class="mb-3">
                            <label for="password-professor" class="form-label">Password</label>
                            <input type="password" id="password-professor" name="password" class="form-control" placeholder="Digite uma senha para o professor">
                        </div>

                        <!-- Telefone -->
                        <div class="mb-3">
                            <label for="telefone-professor" class="form-label">Telefone</label>
                            <input type="tel" id="telefone-professor" name="telefone" class="form-control" placeholder="Digite o telefone do professor">
                        </div>

                        <!-- Localidade -->
                        <div class="mb-3">
                            <label for="localidade-professor" class="form-label">Localidade</label>
                            <input type="text" id="localidade-professor" name="localidade" class="form-control" placeholder="Digite a localidade do professor">
                        </div>
                        <!-- Botão Criar -->
                        <button type="submit" class="btn btn-primary">Criar Professor</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Tab Cursos -->
        <div class="tab-pane fade" id="cursos" role="tabpanel" aria-labelledby="cursos-tab">
            <div class="card shadow">
                <div class="card-header bg-light">
                    <h2 class="h5 mb-0">Selecionar Cursos e Unidades Curriculares</h2>
                </div>
                <div class="card-body">
                    <form>
                        <!-- Cursos -->
                        <div class="mb-3">
                            <label for="cursos-professor" class="form-label">Cursos</label>
                            <select id="cursos-professor" class="form-select" multiple>
                                <option value="1">Engenharia Informática</option>
                                <option value="2">Gestão</option>
                                <option value="3">Economia</option>
                            </select>
                        </div>

                        <!-- Unidades Curriculares -->
                        <div id="ucs-container">
                            <p class="text-muted">Selecione um curso acima para ver as Unidades Curriculares associadas.</p>
                        </div>

                        <button type="submit" class="btn btn-primary">Salvar Associações</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Input de pesquisa
        const searchInput = document.getElementById("nome-professor");
        // Corpo da tabela
        const tableBody = document.querySelector("#professores-por-curso tbody");

        // Evento de entrada no campo de pesquisa
        searchInput.addEventListener("input", function () {
            const searchValue = searchInput.value.toLowerCase(); // Valor digitado pelo usuário
            const rows = tableBody.querySelectorAll("tr"); // Todas as linhas da tabela

            // Iterar sobre as linhas e verificar se o valor da pesquisa está presente
            rows.forEach((row) => {
                const cells = row.querySelectorAll("td");
                const primeiroNome = cells[0]?.textContent.toLowerCase(); // Primeiro nome (coluna 0)
                const ultimoNome = cells[1]?.textContent.toLowerCase(); // Último nome (coluna 1)

                // Verificar se o valor digitado está no primeiro ou último nome
                if (
                    primeiroNome.includes(searchValue) ||
                    ultimoNome.includes(searchValue)
                ) {
                    row.style.display = ""; // Mostrar linha
                } else {
                    row.style.display = "none"; // Ocultar linha
                }
            });
        });
    });
</script>
