{% extends "pagina_principal/base_main.html" %}

{% block content %}

<div id="dynamic-content" class="container">
    {% if default_content == 'dashboard' %}
        {% include "pagina_principal/dashboard.html" %}
    {% elif default_content == 'horarios' %}
        {% include "pagina_principal/horarios.html" %}
    {% elif default_content == 'professores' %}
        {% include "pagina_principal/professores.html" %}
    {% elif default_content == 'avaliacoes' %}
        {% include "pagina_principal/avaliacoes.html" %}
    {% elif default_content == 'pagamentos' %}
        {% include "pagina_principal/pagamentos.html" %}
    {% elif default_content == 'matricula' %}
        {% include "pagina_principal/matricula.html" %}
    {% elif default_content == 'gestao_escola' %}
        {% include "pagina_principal/gestao_escola.html" %}
    {% else %}
        <h1>Bem-vindo ao Teach 'n Go</h1>
        <p>Use este espaço para continuar criando conteúdo...</p>
    {% endif %}
</div>
{% endblock %}
