{% extends "pagina_principal/base_main.html" %}

{% block content %}
<div id="dynamic-content" class="container">
    {% if default_content == 'dashboard' %}
        {% include "pagina_principal/dashboard.html" %}
    {% elif default_content == 'calendario' %}
        {% include "pagina_principal/calendario.html" %}
    {% elif default_content == 'pessoas' %}
        {% include "pagina_principal/pessoas.html" %}
    {% elif default_content == 'aulas' %}
        {% include "pagina_principal/aulas.html" %}
    {% elif default_content == 'pagamentos' %}
        {% include "pagina_principal/pagamentos.html" %}
    {% elif default_content == 'relatorios' %}
        {% include "pagina_principal/relatorios.html" %}
    {% elif default_content == 'gestao_escola' %}
        {% include "pagina_principal/gestao_escola.html" %}
    {% else %}
        <h1>Bem-vindo ao Teach 'n Go</h1>
        <p>Use este espaço para continuar criando conteúdo...</p>
    {% endif %}
</div>
{% endblock %}
